* {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

body {
  touch-action: none;
  overscroll-behavior: contain;
}

div {
  overscroll-behavior: contain;
}

input {
  user-select: auto;
  -webkit-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
}

svg * {
  transform-box: fill-box;
  transform-origin: center;
}
